@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.9841 0.0085 238.4847);
  --foreground: oklch(0.2079 0.0399 265.7275);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2079 0.0399 265.7275);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2079 0.0399 265.7275);
  --primary: oklch(0.6723 0.1606 244.9955);
  --primary-foreground: oklch(0.9843 0.0017 247.8393);
  --secondary: oklch(0.9682 0.017 238.6139);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9682 0.017 238.6139);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9682 0.017 238.6139);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9843 0.0017 247.8393);
  --border: oklch(0.9291 0.0384 238.9766);
  --input: oklch(0.9291 0.0384 238.9766);
  --ring: oklch(0.6723 0.1606 244.9955);
  --chart-1: oklch(0.6723 0.1606 244.9955);
  --chart-2: oklch(0.7309 0.1255 234.1249);
  --chart-3: oklch(0.6393 0.1573 280.9933);
  --chart-4: oklch(0.851 0.0879 195.6257);
  --chart-5: oklch(0.8345 0.0452 248.3683);
  --sidebar: oklch(0.9682 0.017 238.6139);
  --sidebar-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-primary: oklch(0.6723 0.1606 244.9955);
  --sidebar-primary-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-accent: oklch(0.9369 0.0342 238.8987);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-border: oklch(0.906 0.0513 239.2301);
  --sidebar-ring: oklch(0.6723 0.1606 244.9955);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.25rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05);
  --shadow-xs: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05);
  --shadow-sm:
    0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.1), 0 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow:
    0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.1), 0 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow-md:
    0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.1), 0 2px 4px -1px hsl(0 0 0 / 0.1);
  --shadow-lg:
    0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.1), 0 4px 6px -1px hsl(0 0 0 / 0.1);
  --shadow-xl:
    0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.1), 0 8px 10px -1px hsl(0 0 0 / 0.1);
  --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.25);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2079 0.0399 265.7275);
  --foreground: oklch(0.9843 0.0017 247.8393);
  --card: oklch(0.2079 0.0399 265.7275);
  --card-foreground: oklch(0.9843 0.0017 247.8393);
  --popover: oklch(0.2079 0.0399 265.7275);
  --popover-foreground: oklch(0.9843 0.0017 247.8393);
  --primary: oklch(0.6723 0.1606 244.9955);
  --primary-foreground: oklch(0.9843 0.0017 247.8393);
  --secondary: oklch(0.28 0.0369 259.974);
  --secondary-foreground: oklch(0.9843 0.0017 247.8393);
  --muted: oklch(0.28 0.0369 259.974);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.28 0.0369 259.974);
  --accent-foreground: oklch(0.9843 0.0017 247.8393);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9843 0.0017 247.8393);
  --border: oklch(0.28 0.0369 259.974);
  --input: oklch(0.28 0.0369 259.974);
  --ring: oklch(0.6723 0.1606 244.9955);
  --chart-1: oklch(0.6723 0.1606 244.9955);
  --chart-2: oklch(0.7309 0.1255 234.1249);
  --chart-3: oklch(0.6393 0.1573 280.9933);
  --chart-4: oklch(0.851 0.0879 195.6257);
  --chart-5: oklch(0.8345 0.0452 248.3683);
  --sidebar: oklch(0.2079 0.0399 265.7275);
  --sidebar-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-primary: oklch(0.6723 0.1606 244.9955);
  --sidebar-primary-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-accent: oklch(0.28 0.0369 259.974);
  --sidebar-accent-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-border: oklch(0.28 0.0369 259.974);
  --sidebar-ring: oklch(0.6723 0.1606 244.9955);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.25rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05);
  --shadow-xs: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05);
  --shadow-sm:
    0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.1), 0 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow:
    0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.1), 0 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow-md:
    0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.1), 0 2px 4px -1px hsl(0 0 0 / 0.1);
  --shadow-lg:
    0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.1), 0 4px 6px -1px hsl(0 0 0 / 0.1);
  --shadow-xl:
    0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.1), 0 8px 10px -1px hsl(0 0 0 / 0.1);
  --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }

  [data-sonner-toaster][data-sonner-theme=dark] [data-description] {
    color: var(--color-secondary-foreground) !important;
  }
}
